<br>
<br>
<div id="welcome">
		<h2 id="titleHome">Welcome to Green Leaf Society!</h2>
		<br>
		<p id="textHome">We are glad you visit us.</p>
		<p id="textHome">Our platform is dedicated for those,who are strongly interested to improve their life style.</p>
		<p id="textHome">If you are already vegan or vegetarian or just thinking to start new chapter of your life this is the place definitely for you!</p>
		<p id="textHome">You will find here not only recommendation for recipes, but also restaurant, good nutritians, doctors and much more.</p>
		<p id="textHome">You can also contribute to this beautiful project.</p>
		<p id="textHome">You are welcome and let's start it!</p>
		<br>
</div>