body{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
h1{
	text-align: center;
	color: #008000;
	padding-top: 0px;
	font-size: 180%;
}
img{
	
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
	padding-bottom: 0px;
}
#authentication{
	background: rgba(51, 170, 51, .7);
	margin: auto;
}